/* HEADER */

.link a
  {
  	font-size:15px;
  	float: right;
  	color: black;
  	
  }
  .header {
    padding: 10px;
    text-align: center;
    color: black;
	margin-bottom: 2px;
	text-shadow: 1px 1px;
	background-color:#ffcc00;
	
}

.header h1
{
	font-size:60px;
	  text-align: center;
  top: 18px;
  left: -50px;
	
}
.header img {
  float: left;
  width: 100px;
  height:80px;
  background: #555;
  
}


.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}



/* TOP NAV BAR */

h1{
	font-size:60px;
}


ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #ffcc00;
      position: relative;
      font-size:20px;
}

ul li {
      display: inline-block;
}

ul li a {
      color: #292929;
      text-decoration: none;
      padding: 15px;
      display: block;
}
ul li:hover {
      background: lightgrey;
}

ul ul {
      position: absolute;
      min-width: 200px;
      background: lightgrey;
      display: none;
}

ul ul li {
      display: block;
      background: #e3e3e3;
}

ul li:hover ul {
      display: block;
}

ul li i {
      color: #292929;
      float: right;
      padding-left: 20px;
}

nav div {
      background: lightgrey;
      color: #292929;
      font-size: 24px;
      padding: 0.6em;
      cursor: pointer;
      display: none;
}

@media(max-width: 768px) {
      nav div {
            display: block;
      }

      ul {
            display: none;
            position: static;
            background: #e3e3e3;
      }

      ul li {
            display: block;
      }

      ul ul {
            position: static;
            background: #e3e3e3;
      }
}

/*FOOTER*/

footer  {
	
	position: bottom;
    color: black;
    text-align: center;
	padding: 20px;
	font-size:15px;
	background-color:#ffcc00;
	width: 100%;
	}
	footer a
	
{
	 color: black;
	 padding: 10px;

}


